.container {
  overflow: hidden;
  transition: height 0.2s ease;
}

.ribbon {
  display: flex;
  justify-content: flex-end;
  padding-left: 8px;
  padding-right: 8px;
  background-color: rgba(0, 0, 0, 0.03);
  gap: 4px;
  height: 32px;
}

.iconButton {
  padding: 4px;
}